//colors
$base-color: rgba(75,75,75,1);
$primary: #6B75FF;
$primary-hover: #636CE5;
$primary-light: #E7E9FF;
$primary-light-hover: #C8CAEB;
$warning-color: rgba(255, 105, 91, 1);
$warning-color-hover: rgb(243, 72, 55);
$danger-color: rgb(255, 40, 21);
$danger-color-hover: rgb(255, 20, 0);
$placeholder-color: rgba(39, 39, 41, 0.4);
$full-section-background: rgba(245, 245, 246, 1);